* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: #5BB9B8;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 1.6rem;
}

button {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: #4b908f;
}

p {
    text-align: center;
    margin: 20px 0 60px;
}

main {
    background-color: #2C3845;
}

h1 {
    text-align: center;
    font-weight: 300;
}

/* hides the infotekst on load */
tbody>tr>td:nth-child(5) {
    display: none;
}

table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #28333f;
}

th {
    background: #202932;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }

}

tfoot th {
    display: table-cell;
}
}

/* .flyout {
    /* animation-name: fly-out_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
/* transform: translate(-105%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

/* @keyframes fly-out_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */